/* File for the main site. */

body {
	min-height: 500px;
	width: 100%;
	margin: 0;
	overflow-x: hidden;
	background-image: url('../images/Uberia World Map.png');
	background-color: rgb(4, 4, 6);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

header {
	z-index: 10;
}

li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

li a:hover {
	color: grey;
}

li a.active {
	color: grey;
}

nav ul {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	max-width: 70%;
	list-style-type: none;
}

#developer-blog-logo {
	text-align: center;
}

#header-nav {
	margin: 0;
	z-index: 100;
	background-image: linear-gradient(
		rgb(3, 3, 3) 0%,
		rgb(131, 16, 0) 5%, 
		rgb(236, 202, 104) 30%, 
		rgb(236, 202, 104) 70%, 
		rgb(131, 16, 0) 95%,
		rgb(3, 3, 3) 100%
	)
}

#logo img {
	display: block;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

#page-container {
	margin-top: 150px;
	width: 100%;
}

.blog-entry {
	display: block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;

	border: 3px solid pink;
	padding: 20px;
}

.centered-wrapper {
	width: 100%;
	margin: 20px auto 0;
	left: 0;
	right: 0;
}

.nav-button {
	font-size: 25px;
	padding: 10px 15px;
}

.nav-left {
	float: left;
}
.nav-right {
	float: right;
}

.fa-twitter {
	color: white;
	font-size: 32px;
	vertical-align: middle;
}