/* File for the main site. */

body {
	min-height: 500px;
	width: 100%;
	margin: 0;
	overflow-x: hidden;
	background-image: url('../images/Bohunk_Bluff.jpg');
	background-color: rgb(4, 4, 6);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
}

header {
	z-index: 10;
}

li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

li a:hover {
	color: grey;
}

li a.active {
	color: grey;
}

nav ul {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	max-width: 64%;
	list-style-type: none;
	padding-inline-start: 0;
}

#developer-blog-logo {
	text-align: center;
}

#developer-blog-logo img {
	display: block;
	width: 18%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}

#header-nav {
	margin: 0;
	z-index: 100;
	background-image: linear-gradient(
		rgb(3, 3, 3) 0%,
		rgb(149, 54, 56) 1%, 
		rgb(239, 186, 163) 30%, 
		rgb(239, 186, 163) 70%, 
		rgb(149, 54, 56) 99%,
		rgb(3, 3, 3) 100%
	)
}

#logo img {
	display: block;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
}

#page-container {
	margin-top: 150px;
	width: 100%;
}

.blog-entry {
	background-color: blanchedalmond;
	display: block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;

	padding: 20px;
	border: 10px solid transparent;
	border-image: url(../images/Border_Design_1.png) 33 stretch;
	border-image-slice: 33%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;

	margin-top: 80px;
}

.centered-wrapper {
	width: 100%;
	margin: 20px auto 0;
	left: 0;
	right: 0;
}

.nav-button {
	font-size: 25px;
	padding: 10px 15px;
}

.nav-left {
	float: left;
}
.nav-right {
	float: right;
}

.fa-twitter {
	color: white;
	font-size: 32px;
	vertical-align: middle;
}