/* File for the main site. */

body {
	min-height: 500px;
	width: 100%;
	margin: 0;
	overflow-x: hidden;
	background-image: url('../images/Bawdy_Beach.jpg');
	background-attachment: fixed;
	background-color: rgb(4, 4, 6);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;

	font-size: 1.6vw;
	line-height: 1.6vw;
}

h2 {
	color: rgb(236, 202, 104);
}

hr {
	border: 1px solid pink;
	margin: 2% 0;
}

html {
	padding-bottom: 0;
}

li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

li a:hover {
	color: grey;
}

li a.active {
	color: grey;
}

nav ul {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	max-width: 64%;
	list-style-type: none;
	padding-inline-start: 0;
}

#background-logo {
	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 45%,
		rgba(0, 0, 0, 0) 55%
	);
	-webkit-mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 45%,
		rgba(0, 0, 0, 0) 55%
	);
}

#background-logo img {
	width: -webkit-fill-available;
}

#features-container {
	position: relative;
	width: 100%;
	background: rgb(101, 145, 177);
	margin-top: -8%;
	padding-top: 8%;

	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 10%,
		rgba(0, 0, 0, 1) 100%
	);
	-webkit-mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 10%,
		rgba(0, 0, 0, 1) 100%
	);
}

#features-center-container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#features-center-container div {
	position: relative;
}

#features-center-container img {
	width: 100%;
}

#features-center-container span {
	font-size: 1.2vw;
}

#header-nav {
	margin: 0;
	z-index: 100;
	background-image: linear-gradient(
		rgb(3, 3, 3) 0%,
		rgb(131, 16, 0) 1%, 
		rgb(236, 202, 104) 30%, 
		rgb(236, 202, 104) 70%, 
		rgb(131, 16, 0) 99%,
		rgb(3, 3, 3) 100%
	)
}

#footer {
	background: rgb(101, 145, 177);
    padding: 25px 0;
    margin-top: -2%;
    text-align: center;
}

#girls-wrapper {
	margin: 0 auto;
	left: 0;
	right: 0;
}

#girls-wrapper img {
	position: absolute;
	width: 100%;
	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 95%,
		rgba(0, 0, 0, 0) 100%
	);
	-webkit-mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 95%,
		rgba(0, 0, 0, 0) 100%
	);

	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

#logo {
	margin: 20px auto 0;
	left: 0;
	right: 0;
	z-index: 2;
}

#logo img {
	display: block;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

#logo-smoke {
	z-index: 2;
}

#logo-smoke img {
	width: 100%;
	margin-top: 27%;
	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 97%,
		rgba(0, 0, 0, 0) 100%
	);
	-webkit-mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 97%,
		rgba(0, 0, 0, 0) 100%
	);
}

#pendleton-container {
	position: relative;
	background: black;
	width: 100%;

	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 13%,
		rgba(0, 0, 0, 1) 97%,
		rgba(0, 0, 0, 0) 100%
	);
	-webkit-mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 13%,
		rgba(0, 0, 0, 1) 97%,
		rgba(0, 0, 0, 0) 100%
	);
}

#pendleton-container img {
	padding: 20% 0 7%;
	
	display: block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#pendleton-shadow {
	position: absolute;

	width: 60%;
	height: 60%;
	top: 34%;
	left: 20%;

	box-shadow: inset 0px 0px 25px 25px rgba(0, 0, 0, 1);
}

#wrapper-logo {
	height: 100%;
}

#wrapper-logo div {
	position: absolute;
	width: 100%;
}

.blog-entry {
	position: absolute;
	width: 60%;
	left: 20%;
	top: 20%;
}

.blog-entry span:nth-of-type(2) {
	padding-top: 10px;
	margin-left: 60px;
}

.blog-entry p {
	text-align: right;
}

.fa-twitter {
	color: white;
	vertical-align: middle;
}

.image-note {
	position: absolute;
	top: -3.7%;
	right: 0;

	font-size: .8vw !important;
}

.nav-button {
	padding: 1%;
}

.nav-left {
	float: left;
}
.nav-right {
	float: right;
}

@keyframes fadein {
    from { opacity: 0; }
	to   { opacity: 1; }
	from { margin-top: 200px }
	to { margin-top: 0px }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
	to   { opacity: 1; }
	from { margin-top: 200px }
	to { margin-top: 0px }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
	to   { opacity: 1; }
	from { margin-top: 200px }
	to { margin-top: 0px }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
	to   { opacity: 1; }
	from { margin-top: 200px }
	to { margin-top: 0px }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
	to   { opacity: 1; }
	from { margin-top: 200px }
	to { margin-top: 0px }
}