/* File for the main site. */

body {
	min-height: 500px;
	width: 100%;
	margin: 0;
	overflow-x: hidden;
	background-image: url('../images/Uberia World Map.png');
	background-color: rgb(4, 4, 6);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

header {
	z-index: 10;
}

li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

li a:hover {
	color: grey;
}

li a.active {
	color: grey;
}

nav ul {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	max-width: 64%;
	list-style-type: none;
	padding-inline-start: 0;
}

#background-logo {
	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 45%,
		rgba(0, 0, 0, 0) 55%
	);
	-webkit-mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 45%,
		rgba(0, 0, 0, 0) 55%
	);
}

#background-logo img {
	width: -webkit-fill-available;
}

#header-nav {
	margin: 0;
	z-index: 100;
	background-image: linear-gradient(
		rgb(3, 3, 3) 0%,
		rgb(131, 16, 0) 1%, 
		rgb(236, 202, 104) 30%, 
		rgb(236, 202, 104) 70%, 
		rgb(131, 16, 0) 99%,
		rgb(3, 3, 3) 100%
	)
}

#girls-wrapper {
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 1;
}

#girls-wrapper img {
	position: absolute;
	width: 100%;
	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 95%,
		rgba(0, 0, 0, 0) 100%
	);
	-webkit-mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 95%,
		rgba(0, 0, 0, 0) 100%
	);

	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

#logo {
	margin: 20px auto 0;
	left: 0;
	right: 0;
	z-index: 2;
}

#logo img {
	display: block;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

#logo-smoke {
	z-index: 2;
}

#logo-smoke img {
	width: 100%;
	margin-top: 27%;
	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 97%,
		rgba(0, 0, 0, 0) 100%
	);
	-webkit-mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 97%,
		rgba(0, 0, 0, 0) 100%
	);
}

#page-container {
	margin-top: 150px;
	width: 100%;
}

#wrapper-logo {
	height: 100%;
	z-index: 1;
}

#wrapper-logo div {
	position: absolute;
	width: 100%;
}

.nav-button {
	font-size: 25px;
	padding: 10px 15px;
}

.nav-left {
	float: left;
}
.nav-right {
	float: right;
}

.fa-twitter {
	color: white;
	font-size: 32px;
	vertical-align: middle;
}

@keyframes fadein {
    from { opacity: 0; }
	to   { opacity: 1; }
	from { margin-top: 200px }
	to { margin-top: 0px }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
	to   { opacity: 1; }
	from { margin-top: 200px }
	to { margin-top: 0px }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
	to   { opacity: 1; }
	from { margin-top: 200px }
	to { margin-top: 0px }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
	to   { opacity: 1; }
	from { margin-top: 200px }
	to { margin-top: 0px }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
	to   { opacity: 1; }
	from { margin-top: 200px }
	to { margin-top: 0px }
}